/*
 Theme Name:   Bee Guardian Storefront Child
 Theme URI:    http://beeguardian.com 
 Description:  Twenty Fifteen Child Theme  
 Author:       Kevin Minterhout and Lee-Anne Ekland
 Author URI:   http://example.com
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/


/*----------- TABLE OF CONTENTS ---------*/
/*
The table of contents keeps track of all the categories. It should be filled out as you go so you can itemize and organize the code.



HTML
BODY
HEADER
HERO CONTAINER ~ index_hero, 
MASTHEAD
GENERAL SITE SETTINGS
MAIN NAV
MENU
BUTTONS
CARTS
HEADINGS
MESSAGES COLORS
SINGLE PRODUCT PAGE
PRODUCT HIGHLIGHTS
WOO COMMERCE
REVIEWS
FOOTER
MEDIA QUERIES

*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html{
	height: 100%;
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

body {
	height: 100%;
	font-family: "Brandon Grotesque";
}

p{
	color: #0a0a0a;
    font-size: 18px;
}

#wrapper {
    padding:78px 0 1px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.custom-logo{
	width: 150px;
}

/* --------------- HERO CONTAINER -----------*/

#hero_container {
	position: relative;
	min-height: 100%;
	background: url(http://localhost/beeguardian_wp/wp-content/uploads/2017/05/beeguardian-frontpage-image.jpg) no-repeat 50% 90%;
	background-size: cover;
}

#index_hero {
	width: 100%;
}

/* ---------------- MASTHEAD ----------------------*/

#masthead {
	height: 78px;
}

#masthead .col-full{
	margin: 0;
	max-width: 100%;
	padding: 0;
}

/* -------------- GENERAL SITE SETTINGS ----------------- */

.site-header-cart .cart-contents:after{
	margin-right: 20px;
}

.site-branding{
	text-align: center;
	margin: 0 auto !important;
	float: none !important;
	display: none !important;
}

.site-header{
	padding-top: 0;
     background-color: #ca3c3e;
}

#page, .col-full, #hero_container {
	height: 100%;
}

#content{
	min-height: 100%;
}

.home.blog .site-header {
	margin-bottom: 0;
}

.home #content .col-full {
	max-width: 100%;
	padding: 0;
	margin: 0;
}


/* This code was meant to include 
<h2 class="section-title">Let's let bees be bees</h2>
<a href="/product/bee-guardian-honey/" class="btn">Shop Now</a>.
           
div#primary.content-area {
    width: 56%;
    float: right;
}
*/

/* ---------------- MAIN NAV ----------------- */

.main-navigation a {
	font-family: 'Brandon Grotesque';
    font-weight: 600;
    font-size: 18px;
}

.main-navigation{
	position: absolute;
	top: 50%;
	left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
}

.storefront-primary-navigation {
	background: #ca3c3e;
	border-bottom: 1px solid #ccc;
}

/* ------------------ MENUS ------------------*/

.menu-item-28 {
	width: 125px;
	height: 78px;
	background-image: url(http://localhost/beeguardian_wp/wp-content/uploads/2017/04/bee-guardian-logo-off-white.png);
	background-repeat: no-repeat;
	background-size: 125px;
	background-position: center;
}

.menu-item-28 a {
	color: transparent !important;
    display:block;
}

/* ---------------- BUTTONS --------------------*/

button.menu-toggle { background-color: #ca3c3e; }

.btn {
	margin: auto;
	text-align: center;
	padding: 5px 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #ca3c3e;
}

/* --------------- CARTS ------------------*/

.site-header-cart .cart-contents .count {
	opacity: 1;
}

.mini_cart_item a {
	color: #444 !important;
}

.mini_cart_item .quantity {
	color:#999 !important;
}

/** ---------------- HEADINGS ----------------- **/


h1  {
	font-family: 'Facile Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1.1px;
}

h2  {
	font-family: 'Jenna Sue', sans-serif;
	text-align: center;
	margin: 0px 0;
	font-size: 5vw;
	font-weight: 100;
}

h2.section-title {
    color: #fff;
}

.vertical-center {
	position: absolute;
	top: 45%;
	left: 25%;
    -webkit-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
	color: #fff;
	margin: auto;
}

/** ---------- MESSAGES COLORS --------------- **/

.woocommerce-message {
	background-color: #fdf8de;
	color: #444;
}

.woocommerce-message .button {
	color: #444;
}

/** ------------ SINGLE PRODUCT PAGE -------------- **/

.product_title {
	font-family: 'Jenna Sue';
	font-size: 32px;
	font-weight: 600;
}

.single-product div.product .summary {
	width: 40%;
	margin-right: 7%;
	margin-bottom: 20px;
}

.single-product div.product form.cart .button {
	float: none;
	margin-left: 20px;
}

.content-area{
	padding: 50px 0;
}

/* ---------------- WOO COMMERCE -----------*/

.woocommerce-product-details__short-description {
	line-height: 1.4;
	font-weight: 100;
}

.woocommerce-product-details__short-description span {
	font-style: italic;
	font-size: 13px;
	font-weight: 400;
}

.woocommerce-active .site-header .site-header-cart{
	max-width: 300px;
}

/** ------------- PRODUCT HIGHLIGHTS ------------------ **/

.highlight-section {
	clear:both;
    overflow: auto;
	margin: 15px 0;
}
.highlight-image {
    width: 45%;
}

.text-container {
    width: 100%;
}

.highlight-text {
	width: 45%;
	margin: auto;
    padding-top: 5%;
}

.highlight-section:nth-child(odd) div.highlight-text {
  float: right;
}
    
.highlight-section:nth-child(odd) div.highlight-image {
  float: left;
}
    
.highlight-section:nth-child(even) div.highlight-text {
  float: left;
}
    
.highlight-section:nth-child(even) div.highlight-image {
  float: right;
}

/** --------------- REVIEWS -------------------- **/

.woocommerce-tabs .panel{
	float: none;
	margin: auto;
}

.tabs, #reviews_order {
	display: none;
}

/* ---------------FOOTER -----
NOTHING HERE YET
*/

/* -------------MEDIA QUERIES ---------------*/

@media screen and (max-width: 38.75em) {
.btn { padding: 2px 5px; }
    
h1 { font-size: .9em; }
    
p { 
    font-size: .9em;
    line-height: 1.3; 
}
    
.hero_container h2 { margin: 0 0 3px 0; }

.highlight-text { 
    width: auto;
    margin: 4%; 
}

.highlight-image {
    width: auto;  
}
        
.highlight-section:nth-child(odd) div.highlight-text {
  float: none;
}
    
.highlight-section:nth-child(odd) div.highlight-image {
  float: none;
}
    
.highlight-section:nth-child(even) div.highlight-text {
  float: none;
}
    
.highlight-section:nth-child(even) div.highlight-image {
  float: none;
}
    
@media screen and (min-width: 768px) {
	.site-header .site-branding, .site-header .site-logo-anchor, .site-header .site-logo-link, .site-header .custom-logo-link {
		width: 21%; /* Adjust this percentage up or down to make the logo larger or smaller. */
	}

}

